@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ===============================================================
//  Button Core （基礎ボタン）
// ===============================================================
//  ・共通スタイルのみ定義。
//  ・固有のタイポグラフィ・背景色は、HTML側（Component）で指定。
//  ・サイズ・角丸は、Component / Project 側で個別に設定。
// ───────────────────────────────────────────────────────────────

.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: vars.$bold;
  
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: 0.1s ease;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: translateY(1px);
  }

  &--grad {
    @extend .c-button;
    border: vars.$border-gray-700-1;
    background: vars.$grad-beige-gray;
  }

}