@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ===============================================================
//  Font
// ===============================================================
//  ・最低限の基礎（太さ・ファミリー・行間・基本サイズ）のみ定義。
//  ・細かな見出しサイズやページ固有のタイポグラフィは、
//  Component / Project 側で個別に設定。
// ───────────────────────────────────────────────────────────────

.c-font {

  // ----------------------------------------
  // Base styles
  // ----------------------------------------

  //font weight
  &--bold { font-weight: vars.$bold; }
  &--regular { font-weight: vars.$regular; }

  //font familly
  &--base { font-family: vars.$font-base; }
  &--accent { font-family: vars.$font-accent; }

  //line height
  &--lh-l { line-height: vars.$lh-l; }
  &--lh-xl { line-height: vars.$lh-xl; }


  // ----------------------------------------
  //  Heading Font Size
  // ----------------------------------------

  &--xl {
    @extend .c-font--bold;
      @include m.clamp-mobile(font-size, 28, 48);
    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 48, 60);
    }
  }

  &--l {
    @extend .c-font--bold;
    @include m.clamp-mobile(font-size, 28, 36);
  }

  &--m {
    @extend .c-font--bold;
    @include m.clamp-mobile(font-size, 24, 28);
  }

  &--s {
    @extend .c-font--bold;
    @include m.font-size(20);
  }

}