@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ============================================
//  Gallery
// ============================================
//  ・画面幅に応じて自動でカラム数調整。
// ────────────────────────────────────────────

.c-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  
  @include m.mq(mobile) {    
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  }

  @include m.mq() {
    grid-template-columns: repeat(auto-fit, minmax(349px, 1fr));
  }
  
  @include m.mq(desktop) {
    grid-template-columns: repeat(auto-fit, minmax(438px, 1fr));
  }
  
  &__img {
    width: 100%;
    height: auto;
    display: block;
  }
}