@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ============================================================
//  Layout （ページ全体の構造）
// ============================================================
//　・wrapper / aside
//    → 「ヘッダー ＋ メインコンテンツ」と「サイドメニュー」の横並び（PC時）
//  ・container        
//    → メインコンテンツのレイアウト（スマホ縦並び → タブレット以上横並び）
// ─────────────────────────────────────────────────────────────
.c-layout {

  &__wrapper {
    width: 100%;
    display: block;

    @include m.mq(desktop) {
      display: flex;
    }

    &-inner {
      width: 100%;

      @include m.mq(desktop) {
        flex: 8.08;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @include m.clamp-mobile(padding-top, 20, 40);
    @include m.clamp-mobile(padding-inline, 20, 40);
    @include m.clamp-mobile-reverse(padding-bottom, 49, 40);

    @include m.mq() {
      flex-direction: row;
      @include m.clamp-desktop(gap, 41, 81);
    }

    @include m.mq(desktop) {
      @include m.clamp-desktop-multi(padding, (40 40 40 40), (120 120 130 120));
    }
  }

  &__sidebar {

    @include m.mq(desktop) {
      flex: 1.92;
      min-width: 280px;
    }
  }

}