@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;

// ========================================
//  List (箇条書き・番号付きリスト)
// ========================================

.c-list {
  display: flex;
  flex-direction: column;
  gap: 57px;
  @include m.clamp-mobile(padding-left, 0, 50);

  &__ordered {
    margin-left: 19px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }
  &__nested {
    margin-top: 17px;
    margin-left: 18px;
  }
}