@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// ========================================
//  Footer（共通フッター）
// ========================================

.p-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include m.clamp-mobile-reverse(gap, 70, 44);
  
  width: 100%;
  min-height: 150px;
  @include m.clamp-mobile(padding-top, 16, 30);
  @include m.clamp-mobile(padding-bottom, 16, 24);
  background-image: url("../../../images/footer/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include m.mq(desktop) {
    @include m.clamp-desktop-reverse(gap, 44, 31);
    @include m.clamp-desktop(padding-top, 30, 41);
    @include m.clamp-desktop(padding-bottom, 24, 27);
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
      @include m.font-size(18);

      @include m.mq() {
        @include m.font-size(20);
      }
    &:not(:last-child)::after {
      content: '|';
      margin: 0 8px;
    }
  }

  &__link {
    position: relative;
    display: inline;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 2px;
      background-color: currentColor;

      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.1s ease;
    }

    &:hover {
      opacity: 0.85;

      &::before {
      transform: scaleX(1);
      }
    }
  }

}