@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// ===============================================
//  Menu Card（トップページのカード：TakeOutとEatIn）
// ===============================================

.p-menu-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 217px;

  width: 100%;
  @include m.clamp-mobile(min-height, 642, 681);
  padding: 13px 16px 16px 16px;

  transition:
   box-shadow 0.25s ease,
   transform 0.25s ease;
  
  &:hover {
    box-shadow: 0 8px 20px vars.$overlay-black-20;
    transform: translateY(-5px)
  }

  @include m.mq(desktop) {
    @include m.clamp-desktop(min-height, 681, 1197);
    @include m.clamp-desktop(padding-top, 13, 24);
  }

  &__title {
    font-weight: vars.$bold;
    @include m.clamp-mobile(font-size, 41, 44);
    @include m.mq(desktop) {
      @include m.clamp-desktop(font-size, 44, 80);
    }

    &.c-underline::after {
      height: 4px;
      @include m.clamp-mobile(margin-top, 19.34, 25.57);
      @include m.clamp-mobile(width, 33.89, 35.94);

      @include m.mq(desktop) {
        @include m.clamp-desktop(margin-top, 25.57, 43);
        @include m.clamp-desktop(width, 35.94, 63);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    padding: 16px;
  }

  &__subtitle {
    font-weight: vars.$bold;
    @include m.clamp-mobile(font-size, 22, 24);
  }

  &__text {
    //16→14→16px
    @include m.font-size(16);
    @include m.mq() {
      @include m.font-size(14);
    }
    @include m.mq(desktop) {
      @include m.font-size(16);
    }

    @include m.clamp-mobile(margin-top, 8, 16);
    @include m.mq(desktop) {
      @include m.clamp-desktop-reverse(margin-top, 16, 10);
    }
  }

  &--takeout {
    background-image: url("../../../images/top/takeout--sp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include m.mq() {
      background-image: url("../../../images/top/takeout--tb.jpg");
    }

    @include m.mq(desktop) {
      background-image: url("../../../images/top/takeout--pc.jpg");
    }
  }

  &--eatin {
    background-image: url("../../../images/top/eatin--sp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include m.mq() {
      background-image: url("../../../images/top/eatin--tb.jpg");
    }

    @include m.mq(desktop) {
      background-image: url("../../../images/top/eatin--pc.jpg");
    }
  }

}