@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// ===============================================
//  Pagination （ページネーション）
// ===============================================
//  ・スマホ → 「前へ / 次へ」ボタンのみ
//  ・タブレット以上 → 数字ページネーション表示
// ───────────────────────────────────────────────

.p-pagination {
  margin: 30px 20px;

  @include m.mq() {
    margin: 32px 0px;
  }
  @include m.mq(desktop) {
    @include m.clamp-desktop(margin-top, 32, 64);
    @include m.clamp-desktop(margin-bottom, 32, 64);
  }

  &__prev, &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

// -------------------------------------------------
//  PC/Tablet : 数字ページネーション
// -------------------------------------------------
  &__numbers {
    display: none;

    @include m.mq() {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 17px;
      font-weight: vars.$bold;
      line-height: vars.$lh-l;
    }

  }

  &__info {
    @include m.mq() {
      margin-right: 2px;
    }
  }

  &__list {
    @include m.mq() {
      display: flex;
      gap: 15px;
    }
  }

  &__item {
    opacity: 1;
    transition:
     background-color 0.15s ease,
     opacity 0.15s ease;

    @include m.mq() {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
    }

  }
  &__list li:first-child a:hover {
    opacity: 0.85;
  }
  &__list li:not(:first-child) a:hover {
    background-color: vars.$color-gray-100;
  }

// -------------------------------------------------
//  Mobile : 前へ / 次へ
// -------------------------------------------------
  &__arrows {
    display: flex;
    justify-content: space-between;
    @include m.mq() {
      display: none;
    }
  }
  &__prev-laquo {
    margin-right: 8px;
  }
  &__next-raquo {
    margin-left: 8px;
  }

}