@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// ========================================
//  Side Menu（共通サイドメニュー）
// ========================================

.p-sidemenu {
  //サイドメニューを右に隠す
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: right 300ms ease-out;
  
  padding: 178px 20px 84px 46px;
  overflow-y: auto;

  @include m.mq(mobile) {
    @include m.clamp-mobile(width, 328, 367);
  }

  @include m.mq(desktop) {
    //設定リセット
    position: static;
    top: auto;
    right: auto;
    width: auto;
    transition: none;

    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 84px;
    @include m.clamp-desktop(padding-left, 20, 46);
  }


  &__title {
    @include m.clamp-mobile(font-size, 20, 34);
    font-weight: vars.$bold;
    display: none;

    @include m.mq(desktop) {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 48, 60);

    @include m.mq(desktop) {
      gap: 48px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 32, 40);

    @include m.mq(desktop) {
      gap: 32px;
    }
  }

  &__item {
    @include m.font-size(24);
    font-weight: vars.$bold;
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 0 20px;

    @include m.mq(desktop) {
      @include m.clamp-desktop(padding-left, 0, 20);
    }
  }

  &__subitem {
    @include m.font-size(20);
  }

  &__item,
  &__link {
    position: relative;
    display: inline;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 2px;
      background-color: currentColor;

      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.1s ease;
    }

    &:hover {
      opacity: 0.85;

      &::before {
      transform: scaleX(1);
      }
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-out;
    z-index: 500;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.is-open {
    right: 0;
  }
}