@use '../../foundation/mixin' as m;
@use '../../foundation/variables' as vars;
@use '../component' as *;

// ========================================
//  Single（個別記事ページ）
// ========================================

.p-single {

  &__mv {
    @include m.clamp-mobile(height, 225, 500);

    &-img {
      object-position: 50% 55%;
    }

    &-title {
      left: 0;
      background-color: vars.$overlay-brown-50;
      padding: 6px 12px;
      border-radius: 8px;
      display: inline-block;

      @include m.mq(mobile) {
        @include m.clamp-mobile(left, 8, 86);
        @include m.clamp-mobile(margin-right, 8, 86);
      }
      @include m.mq() {
        @include m.clamp-desktop-multi(padding, (60 60 149 60), (63 100 274 100));
      }
      @include m.mq(desktop) {
        @include m.clamp-desktop-multi(padding, (60 60 149 60), (63 100 274 100));
      }

    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include m.clamp-mobile(gap, 30, 60);
    @include m.clamp-mobile-multi(padding, (34 20 69 20), (60 60 149 60));

    @include m.mq(desktop) {
      @include m.clamp-desktop-multi(padding, (60 60 149 60), (63 100 274 100));
    }
  }

  &__button {
    border-radius: 20px;
    aspect-ratio: 70 / 17;

    @include m.mq(mobile) {
      @include m.clamp-mobile(width, 335, 429);
    }
  }

}