@use '../foundation/mixin' as m;
@use '../foundation/variables' as vars;

// ========================================
//  Base Styles
// ========================================

body {
  font-family: vars.$font-base;
  @include m.font-size(16);
  font-weight: vars.$regular;
  color: vars.$color-brown-900;
  background-color: vars.$color-cream-50;
  box-sizing: border-box;
  line-height: vars.$lh-m;
  line-break: strict;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
