@use '../foundation/mixin' as m;

// ========================================
//  Font Family
// ========================================
$font-base: 'M PLUS 1p','Roboto', sans-serif;
$font-accent: 'Roboto', sans-serif;

// ========================================
//  Font Weight
// ========================================
$regular: 400;
$bold: 700;

// ========================================
//  Line Height
// ========================================
$lh-s: 1.06;
$lh-m: 1.6;
$lh-l: 2.06;
$lh-xl: 2.35;


// ========================================
//  Color
// ========================================
//  命名規則：色名 + 明度（HSLのLightness）
// ────────────────────────────────────────
//  Lightness        番号     説明
//  ---------------------------------------
//   0〜15%           900     濃い（暗い）
//  15〜30%           800     
//  30〜45%           700     
//  45〜55%           600     
//  55〜65%           500     標準（代表色）
//  65〜75%           400     
//  75〜85%           300     
//  85〜92%           200     
//  92〜97%           100     
//  97〜100%          50      薄い（明るい）
// ────────────────────────────────────────

// ----------------------------------------
//  Brown / Orange 系統（メインカラー）
// ----------------------------------------
$color-brown-900 : #3C2A10; 
$color-brown-800 : #3C2B1C; 
$color-cream-50  : #FFFDFA; 
$color-cream-100 : #FFF7EF;
$color-beige-100 : #F2EDE9;


// ----------------------------------------
//  Gray / Blue 系統
// ----------------------------------------
$color-gray-700 : #707070; 
$color-gray-300 : #DED8D3; 
$color-gray-200 : #EAEAEA; 
$color-gray-100 : #F5F5F5; 
$color-blue-700 : #4A6C9B; 


// ----------------------------------------
//  White / Black
// ----------------------------------------
$color-white : #FFFFFF; 
$color-black : #000000;

// ========================================
//  Overlays (透過色) 
// ========================================
//  命名規則：色名 + 不透明度
// ────────────────────────────────────────
$overlay-white-80 : rgba($color-white, 0.8); 
$overlay-black-50 : rgba($color-black, 0.5); 
$overlay-black-40 : rgba($color-black, 0.4029); 
$overlay-black-30 : rgba($color-black, 0.3116);
$overlay-black-20 : rgba($color-black, 0.2);

// ========================================
//  Gradients
// ========================================
$grad-beige-gray: linear-gradient(90deg, $color-beige-100 0%, $color-gray-300 100%);


// ========================================
//  Border
// ========================================
//  命名規則：色名 + 明度 + ボーダー幅
// ────────────────────────────────────────
$border-gray-700-1: 1px solid $color-gray-700;


// ========================================
//  Button Size
// ========================================
$btn-width: 45.25px;
$btn-height: 6px;


